<p style="text-align:center; color:#666; font-size:0.9em;">
  © 2025-2026 Lokova Studios<br>
  Made with nothing but ❤️love and 🐝bees<br>
  除非特别注明，本站内容以<a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">CC BY-NC-ND 4.0</a>授权。<br>
  <a href="https://icp.gov.moe/?keyword=20254546" target="_blank"><img src="/assets/images/moe-icon.png" style="height: 20px;">萌ICP备20254546号</a><br>
  <a href="https://icp.redcha.cn/beian/ICP-2025110224.html"><img src="https://icp.redcha.cn/static/picture/icplogoi.png" style="height: 20px;">茶ICP备2025110224号</a>
</p>